<section>
  <div class="container p-5">
    <div class="header text-center mt-3 pt-3">
      <h1>CONATCT SECTION</h1>
      <div class="lineStar d-flex align-items-center justify-content-center divid ">
        <div class="flex-grow-0 border-2 border-white line ms-2 "></div>
        <i class="fa-solid fa-star px-3 me-3"></i>
        <div class="flex-grow-0 border-2 border-white line "></div>
      </div>
    </div>
    <div class="content container col-md-8 mx-auto ">
      <form class="d-flex flex-column ">
        <label for="username" class="form-label mt-4 pb-1 ">UserName: </label>
        <input  type="text" placeholder="userName" id="username" name="UserName" class="form-control p-3" >

        <label for="userage" class="form-label mt-3 pb-3">UserAge: </label>
        <input  type="text" placeholder="userAge" id="userage" name="UserAge" class="form-control" >

        <label for="useremail" class="form-label mt-3 pb-3 ">UserEmail: </label>
        <input  type="email" placeholder="userEmail" id="useremail" name="UserName" class="form-control" >

        <label for="userpassword" class="form-label mt-3 pb-3 ">UserPassword: </label>
        <input  type="password" placeholder="userPassword" id="userpassword" name="UserName" class="form-control" >

        <button type="submit" class="btn w-25 mt-3">Send Message</button>
      </form>
    </div>
  </div>
</section>
