<section>
  <div class="container p-5">
    <div class="header text-center mt-3 pt-3">
      <h1 class="text-4xl text-[#2c3e50]"><strong>CONATCT SECTION</strong></h1>
      <div class="flex items-center justify-center">
      <div class="text-[#2c3e50] grow-0 border-2 w-24 h-1"></div>
      <i class="fa-solid fa-star px-3 mr-4 text-[#2c3e50]"></i>
      <div class="text-[#2c3e50] grow-0 border-2 w-24 h-1"></div>
    </div>
    </div>
    <div class="container mx-auto md:w-2/3 p-5">
  <form class="flex flex-col">
    <label for="username" class="text-[#1abc9c] mt-4 pb-1">UserName:</label>
    <input type="text" id="username" name="UserName" placeholder="userName"
           class="border-b border-gray-300 focus:outline-none p-3">

    <label for="userage" class="text-[#1abc9c] mt-3 pb-3">UserAge:</label>
    <input type="text" id="userage" name="UserAge" placeholder="userAge"
           class="border-b border-gray-300 focus:outline-none p-3">

    <label for="useremail" class="text-[#1abc9c] mt-3 pb-3">UserEmail:</label>
    <input type="email" id="useremail" name="UserEmail" placeholder="userEmail"
           class="border-b border-gray-300 focus:outline-none p-3">

    <label for="userpassword" class="text-[#1abc9c] mt-3 pb-3">UserPassword:</label>
    <input type="password" id="userpassword" name="UserPassword" placeholder="userPassword"
           class="border-b border-gray-300 focus:outline-none p-3">

    <button type="submit" class="bg-[#1abc9c] text-white w-1/4 mt-3 py-2 rounded">
      Send Message
    </button>
  </form>
</div>

  </div>
</section>
