.divid{
  width: 25%;
  margin: auto;
}
.line{
  height: 4px;
  width: 30%;
  background-color: #2c3e50;
}
h1{
  color: #2c3e50;
  font-weight: 700;
}
i{
  color: #2c3e50;
}
.form-control {
    border-bottom: solid 1px #dee2e6 ;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    position: relative;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
}
.btn {
  background-color: #1abc9c;
  color: white;
}
.form-label{
  color: #1abc9c;

}
