/*
.col-sm-12{
  cursor: pointer;
}
.overlayer {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: rgba(26, 188, 156, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.4s ease;
}
.overlayer i {
  color: #fff;
  font-size: 80px;
}
.imgCard:hover .overlayer {
  opacity: 1;
}
.lightbox-container{
  background-color: rgba(13, 109, 253, 0.3);
  z-index: 1000;
}
.lightbox-item img{
  height: 450px;
}

 */
