<section class="p-5 mb-0 pb-5 mt-4">
  <div class="container text-white">
    <div>
      <h1 class="text-center fw-bolder fs-1 mt-5 pt-5">ABOUT COMPONENT</h1>
    </div>
    <div class="lineStar d-flex align-items-center justify-content-center divid ">
      <div class="flex-grow-0 border-2 border-white line ms-2 "></div>
      <i class="fa-solid fa-star px-3 me-3"></i>
      <div class="flex-grow-0 border-2 border-white line "></div>
    </div>
    <div class="row contentAbout d-flex justify-content-between pb-5 pt-3 mx-5 ">
      <p class="px-3 col-md-6 col-sm-12">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      <p class="px-3 col-md-6 col-sm-12">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
  </div>
</section>
