<section class="p-5 mb-0 pb-5 mt-4 bg-teal-400">
  <div class="text-white">
    <div>
      <h1 class="text-center text-4xl mt-5 pt-10 py-2"><strong>ABOUT COMPONENT</strong></h1>
    </div>
    <div class="flex items-center justify-center">
      <div class="grow-0 border-2 bg-white w-25 ms-2 h-1"></div>
      <i class="fa-solid fa-star px-3 me-3"></i>
      <div class="grow-0 border-2 bg-white w-25 ms-2 h-1"></div>
    </div>
    <div class="flex flex-col md:flex-row justify-between pb-5 pt-12 mx-5 gap-4">
      <p class="px-3 md:w-1/2 w-full">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
      <p class="px-3 md:w-1/2 w-full">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
    </div>

  </div>
</section>
