<section class="mb-0 p-3">
  <div class="container text-center text-white">
    <div class="imgHome pt-5">
      <img src="imgi_1_avataaars.svg" alt="imghome" class="img-fluid col-md-3 col-sm-7 p-2 ">
    </div>
    <div class=" p-2">
      <h2 class="fw-bolder fs-1 mt-2">START FRAMEWORK</h2>
    </div>
    <div class="lineStar d-flex align-items-center justify-content-center divid ">
      <div class="flex-grow-0 border-2 border-white line ms-2"></div>
      <i class="fa-solid fa-star px-3 me-3"></i>
      <div class="flex-grow-0 border-2 border-white line "></div>
    </div>
    <p class=" p-2">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</section>
